Source: nvidia-docker2
Section: @SECTION@utils
Priority: optional
Maintainer: NVIDIA CORPORATION <cudatools@nvidia.com>
Standards-Version: 3.9.8
Homepage: https://github.com/NVIDIA/nvidia-docker/wiki
Vcs-Git: https://github.com/NVIDIA/nvidia-docker
Vcs-Browser: https://github.com/NVIDIA/nvidia-docker
Build-Depends: debhelper (>= 9)

Package: nvidia-docker2
Architecture: all
Breaks: nvidia-docker (<< 2.0.0)
Replaces: nvidia-docker (<< 2.0.0)
Depends: ${misc:Depends}, nvidia-container-toolkit (>= @TOOLKIT_VERSION@)
Description: NVIDIA Container Toolkit meta-package
 A meta-package that allows installation flows expecting the nvidia-docker2
 to be migrated to installing the NVIDIA Container Toolkit packages directly.
 The wrapper script provided in earlier versions of this package should be
 considered deprecated.
 The nvidia-container-toolkit-base package provides an nvidia-ctk CLI that can be
 used to update the docker config in-place to allow for the NVIDIA Container
 Runtime to be used.
